%div#main-container
  %h1#main-heading
    %p
      Weekly hunts for
    %p
      the best tools in
    %p
      your industry
  %h1#main-heading-mobile
    %p
      Weekly hunts
    %p
      for the best
    %p
      tools in your
    %p
      industry

  %h2#main-sub-heading
    %p
      Resources for designers, developers,
    %p
      marketers and photographers.

  %button{ type: 'submit', :onclick => 'javascript:showSubscribe();', :class => 'main-subscribe'} Subscribe

%div#subscribe-box
  %div#subscribe-box-inner
    %div#subscribe-form-wrapper
      %div.cancel
        %a{ :onclick => 'javascript:hideSubscribe();' }
          %span.icon.icon-cancel
      %h1#subscribe-header
        Get the newsletter
      %p#subscribe-sub-header
        When you subscribe you’ll receive a weekly list of the
        %br
        best and latest tools and resources to help you get the
        %br
        job done and grow your business.
      %div#subscribe-form
        %div.email-wrapper
          %input{:id => 'email', :name => 'email', :type => 'text', :placeholder => 'EMAIL ADDRESS'}
        %div#error-email.error{ :style => 'margin-top:10px;' }
        %div#subscribe-industry-wrapper
          %div.label
            What industry interests you?
          %div#error-interest.error{ :style => 'margin-bottom:10px;' }
          %div#design.subscribe-industry.first{ :onclick => 'javascript:toggleInterestSelect("design")' }
            Design
          %div#photography.subscribe-industry.second{ :onclick => 'javascript:toggleInterestSelect("photography")' }
            Photography
          %div#marketing.subscribe-industry.first{ :onclick => 'javascript:toggleInterestSelect("marketing")' }
            Marketing
          %div#development.subscribe-industry.second{ :onclick => 'javascript:toggleInterestSelect("development")' }
            Development
        %button{ :type => 'submit', :class => 'popup-button', :onclick => 'javascript:subscribeUser();' } Subscribe
        %p.disclaimer
          We will never spam you, Promise
    %div#subscribe-form-success
      %div.cancel
        %a{ :onclick => 'javascript:hideSubscribe();' }
          %span.icon.icon-cancel
      %h1#success-header
        You're Amazing!
      %p#success-sub-header
        Thank you for signing up. You will here from us shortly.

