/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face
  font-family: 'gotham-thin'
  src: font-url('gotham-thin.eot') format("eot"), font-url('gotham-thin.woff') format("woff"), font-url('gotham-thin.ttf') format("truetype")
@font-face
  font-family: 'gotham-light'
  src: font-url('gotham-light.eot') format("eot"), font-url('gotham-light.woff') format("woff"), font-url('gotham-light.ttf') format("truetype")
@font-face
  font-family: 'gotham-medium'
  src: font-url('gotham-medium.ttf') format("truetype")
@font-face
  font-family: 'gotham-book'
  src: font-url('gotham-book.eot') format("eot"), font-url('gotham-book.woff') format("woff"), font-url('gotham-book.ttf') format("truetype")
@font-face
  font-family: 'IcoMoon-Free'
  src: font-url('IcoMoon-Free.ttf') format('truetype')
  font-weight: normal
  font-style: normal

