// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html
  background: asset_url("Scene.jpg") no-repeat 50% 50% fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 100%
  width: 100%
body
  margin-left: 7.83%
button
  background-color: #1c1c1c
  color: #ffffff
  font-family: 'gotham-medium'
  width: 175px
  padding-top: 17px
  padding-bottom: 16px
  font-size: 12px
  text-transform: uppercase
  margin-top: 4%
  border: none
  cursor: pointer
  letter-spacing: 2px

button:hover
  background-color: #939393
#main-container
  margin-top: 20%
  -ms-transform: translateY(-30%)
  -webkit-transform: translateY(-30%)
  -moz-transform: translateY(-30%)
  -o-transform: translateY(-30%)
  transform: translateY(-30%)
  h1
    p
      margin: 12px 0 12px 0
  #main-heading
    font-family: 'gotham-thin'
    font-size: 45px
    font-weight: normal
    color: #1c1c1c
  #main-heading-mobile
    font-family: 'gotham-thin'
    font-size: 45px
    font-weight: normal
    color: #1c1c1c
    display: none
  #main-sub-heading
    font-family: 'gotham-light'
    font-size: 12px
    color: #939393
    margin-top: 1.5%
#logo
  margin-top: 2%
  width: 30px
#subscribe-box
  position: absolute
  display: none
  z-index: 6000
  left: 50%
  top: 50%
  -ms-transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%)
  transform: translate(-50%,-50%)
  width: 490px
  height: auto
  background-color: #e3e3e3
  #subscribe-box-inner
    margin: 30px 45px 35px 45px
    text-align: center
    h1
      font-size: 45px
      font-weight: 100
      font-family: 'gotham-thin'
      margin-top: 0px
      margin-bottom: 15px
    p
      font-size: 12px
      font-family: 'gotham-light'
      color: #939393
      line-height: 24px
      letter-spacing: 1px
    .cancel
      color: #666666
      text-align: right
      margin-bottom: 39px
      margin-right: -15px
      a
        cursor: pointer
      a:hover
        color: #333333
    #subscribe-form
      text-align: center
      margin-top: 40px
      input#email
        width: 300px
      input
        padding: 17px 22px 16px 22px
        font-size: 12px
      input.error
        background-color: #f8d0c8
      div.error
        font-size: 12px
        color: #db3a1b
        font-family: 'gotham-book'
        text-align: left
        margin-left: 30px
      #subscribe-industry-wrapper
        margin-top: 25px
        .label
          text-align: left
          margin-left: 30px
          font-size: 12px
          color: #1c1c1c
          margin-bottom: 15px
          font-family: 'gotham-book'
        .subscribe-industry
          float: left
          width: 40%
          background-color: #ffffff
          padding-top: 17px
          padding-bottom: 16px
          text-align: center
          margin-bottom: 13px
          font-family: 'gotham-medium'
          font-size: 12px
          cursor: pointer
          color: #b2b2b2
          border: 2px solid #ffffff
          text-transform: uppercase
          letter-spacing: 1px
        .subscribe-industry:hover
          border: 2px solid #1c1c1c
          color: #1c1c1c
        .first
          margin-left: 30px
          margin-right: 15px
        .selected
          border: 2px solid #1c1c1c
          color: #1c1c1c
      .popup-button
        width: 340px

#subscribe-form-success
  display: none

.icon
  font-family: 'IcoMoon-Free'
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga"
  -moz-font-feature-settings: "liga=1"
  -moz-font-feature-settings: "liga"
  -ms-font-feature-settings: "liga" 1
  -o-font-feature-settings: "liga"
  font-feature-settings: "liga"

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-cancel:before
  content: "\ea0f"

/* Responsive CSS - Mobile */
@media (max-width: 767px)
  html
    background: none
  #main-container
    margin-top: 25%
    -ms-transform: translateY(0%)
    -webkit-transform: translateY(0%)
    -moz-transform: translateY(0%)
    -o-transform: translateY(0%)
    transform: translateY(0%)
    #main-heading
      display: none
    #main-heading-mobile
      display: block
  #subscribe-box
    top: 0%
    -ms-transform: translate(0%, 0%)
    -webkit-transform: translate(0%, 0%)
    -moz-transform: translate(0%, 0%)
    -o-transform: translate(0%, 0%)
    transform: translate(0%, 0%)
    width: 99%
    left: 0%
    #subscribe-box-inner
      margin: 20px 0px 35px 12px
      h1
        margin-left: 10px
        margin-right: 10px
      .cancel
        margin-right: 20px
        margin-bottom: 20px
      #subscribe-sub-header
        font-size: 11px
      #subscribe-form
        margin-top: 25px
        .email-wrapper
          input#email
            width: 80%
        #subscribe-industry-wrapper
          width: 93%
          margin-left: 7%
          margin-right: auto
          .subscribe-industry
            width: 42%
          .label
            margin-left: 0px
          .first
            margin-left: 0px
        .popup-button
          width: 85%
